body {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;

    h1, h2, h3, h4, h5, h6, .subtitle {
        font-weight: 700;
        text-transform: uppercase;
    }
    h1 {
        font-size: clamp(2.25rem, 5vw, 3.5rem);
        line-height: clamp(2.5rem, 5vw, 3.625rem);
        letter-spacing: clamp(0.080625rem, 5vw, 0.125rem);
    }
    h2 {
        font-size: 2.5rem;
        line-height: 2.75rem;
        letter-spacing: 0.089375rem;
    }
    h3 {
        font-size: clamp(1.5rem, 5vw, 2rem);
        line-height: 2.25rem;
        letter-spacing: clamp(0.05375rem, 5vw, 0.07125rem);
    }
    h4 {
        font-size: 1.75rem;
        letter-spacing: 0.125rem;
    }
    h5 {
        font-size: 1.5rem;
        letter-spacing: 0.106875rem;
    }
    h6 {
        font-size: clamp(0.9375rem, 5vw, 1.125rem);
        letter-spacing: clamp(0.066875rem, 5vw, 0.080625rem);
    }
    .overline {
        font-weight: 400;
        font-size: 0.875rem;
        letter-spacing: 0.625rem;
        text-transform: uppercase;
    }
    .subtitle {
        font-size: 0.8125rem;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        line-height: 1.5625rem;
    }
    .button_text {
        font-size: 0.8125rem;
        text-transform: uppercase;
        letter-spacing: 0.0625rem;
    }
    p {
        line-height: 1.5625rem;
    }
}